version: '3'
services:
  bot:
    build: .
    env_file:
      - ../.env
    depends_on:
      - postgres
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: aiogram_db
    ports:
      - "5432:5432"

